.App {
  display:grid;
  place-items:center;
  }
 

/* Green toast */
.green-toast {
  background-color: #069e0b;
  color: white;
  
}

/* Red toast */
.red-toast {
  background-color: #f44336;
  color: white;
}
